body {
    
}

.circle-slider .rs-handle {
    background-color: transparent;
    border: 8px solid transparent;
    border-right-color: black;
    margin: -8px 0 0 14px !important;
}

.circle-slider .rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    background: black;
    right: -6px;
    bottom: -6px;
    border-radius: 100%;
}

.circle-slider .rs-handle:after {
    display: block;
    content: " ";
    width: 106px;
    position: absolute;
    top: -1px;
    right: 0px;
    border-top: 2px solid black;
}

.circle-slider .rs-range-color {
    background-color: #8a8d94;
}

.circle-slider .rs-path-color {
    background-color: #8a8d94;
}