.ui-content{
    display: flex;
    justify-content: center;
}

.iphone {
    width: 100px;
    height: 100px;
    background: lightblue;
}
.button-control {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.circle-slider .rs-handle {
    background-color: black;
    border: 40px solid transparent;
    border-right-color: black;
    margin: -40px 0 0 -32px !important;
}

.circle-slider .rs-handle:before {
    display: block;
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    background: black;
    right: -6px;
    bottom: -6px;
    border-radius: 100%;
}

.circle-slider .rs-handle:after {
    display: block;
    content: " ";
    width: 400px;
    position: absolute;
    top: -1px;
    right: 0px;
    border-top: 2px solid black;
}

.circle-slider .rs-range-color {
    background-color: #8a8d94;
}

.circle-slider .rs-path-color {
    background-color: #8a8d94;
}