<html>

<head>

    <title>Kretskortbil</title>

    <script src="{{url_for('static', filename='app.js')}}"></script>
    <link rel="stylesheet" href="./app.css">
</head>

<body>
    <div>
        <button id="rightforward">Framåt höger</button>
        <button id="leftforward">Framåt vänster</button>
        <button id="forward">Framåt</button>
        <button id="backward">Bakåt</button>
        <button id="right">Höger</button>
        <button id="left">Vänster</button>
        <button id="stop">Stopp</button>

    </div>
</body>

</html>